<div id="<%= dom_id cliente %>">
  <p>
    <strong>Nome completo:</strong>
    <%= cliente.nome_completo %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= cliente.data_de_nascimento %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= cliente.telefone %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= cliente.cpf %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= cliente.senha %>
  </p>

  <p>
    <strong>CEP:</strong>
    <%= cliente.endereco.cep %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= cliente.endereco.logradouro %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= cliente.endereco.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= cliente.endereco.cidade %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= cliente.endereco.complemento %>
  </p>

</div>
